apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Render Helm chart from GitHub repository
helmCharts:
  - name: api
    repo: https://github.com/ashutosh-18k92/sf-helm-registry.git
    releaseName: aggregator
    namespace: super-fortnight
    valuesFile: values.yaml
    version: 0.1.0
    includeCRDs: false
