apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Helm chart inflation - ArgoCD handles this with --enable-helm
helmCharts:
  - name: aggregator
    repo: https://ashutosh-18k92.github.io/aggregator-service/
    version: v0.2.4
    releaseName: aggregator
    namespace: super-fortnight # -dev
    valuesFile: values.yaml
    includeCRDs: false

# ConfigMap for development
configMapGenerator:
  - name: service-config
    namespace: super-fortnight
    files:
      - patches/configmap.yaml
    options:
      disableNameSuffixHash: true
      annotations:
        argocd.argoproj.io/sync-options: Replace=true

# Patches for development
patches:
  - target:
      kind: Deployment
      name: aggregator-api-v1
    path: patches/deployment.yaml
  - target:
      kind: VirtualService
      name: aggregator-api-v1-virtualservice
    path: patches/virtual-service.yaml
