apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Helm chart inflation - ArgoCD handles this with --enable-helm
helmCharts:
  - name: api
    repo: https://ashutosh-18k92.github.io/sf-helm-charts/
    version: v0.1.5
    releaseName: aggregator
    namespace: super-fortnight # -dev
    valuesFile: values.yaml
    includeCRDs: false

# Namespace
namespace: super-fortnight # -dev

# ConfigMap for development
configMapGenerator:
  - name: service-config
    namespace: super-fortnight
    literals:
      - PORT=3000
      - SERVICE_NAME=aggregator-service
      - LOG_LEVEL=debug
      - NODE_ENV=development

# Patches for development
patches:
  - target:
      kind: Deployment
      name: aggregator-api-v1
    path: patches/deployment.yaml
  - target:
      kind: VirtualService
      name: aggregator-api-v1-virtualservice
    path: patches/virtual-service.yaml
